.thePage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
}

.image {
  border: 5px solid black;
}

.instructions {
  font-size: 1.4rem;
}

.arrow {
  font-size: 2rem;
  font-weight: 700;
}

.flowers {
  color: rgb(236, 84, 78);
}

.heading {
  color: rgb(106, 106, 216);
  animation: bounceIn 2s;
  margin-top: 10rem;
}

.list,
.list2 {
  font-size: 1.2rem;
  border-bottom: 2px solid rgb(136, 136, 209);
}

.list {
  width: 10rem;
  padding-bottom: 0.2rem;
}

.list2 {
  width: 30rem;
  padding: 0.5rem 0;
}

@keyframes bounceIn {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
    opacity: 1;
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
